.homeHeroContainer {
  display: flex;
  align-items: center;
  padding: 1.85rem 0;
}

.heroDetails,
.heroImg {
  width: 50%;
  color: var(--pri_dark_tone);
  font-weight: 600;
}

.heroDetails .medLSize {
  line-height: 1;
}

.heroDetails .medLSize span {
  text-transform: uppercase;
  color: var(--pri_light_tone);
}
.heroDetails .paraText {
  font-weight: 400;
}

.numbersCount {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  line-height: 1.15;
}

.counter .paraMedium {
  color: var(--pri_light_tone);
  text-align: center;
}

.heroImg {
  position: relative;
}

.heroImg img {
  max-width: 150%;
  transform: rotate(-30deg) translateY(-150px);
  left: 0;
  top: 0;
}



.grid {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(246, 246, 246));
  background-size: cover;
  background-repeat: no-repeat;
  margin: var(--top_gap) 0;
}
