.homeHeroContainer {
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.heroDetails,
.heroImg {
  width: 40%;
  color: var(--pri_dark_tone);
  font-weight: 600;
}

.heroDetails .medLSize {
  line-height: 1;
}

.heroDetails .medLSize span {
  text-transform: uppercase;
  color: var(--pri_light_tone);
}

.heroDetails .paraText {
  font-weight: 400;
}

.numbersCount {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  line-height: 1.15;
}

.counter .paraMedium {
  color: var(--pri_light_tone);
  text-align: center;
}


.heroImg {
  min-width: 47%;
  height: 100vh;
  width: max-content;
  background-image: url("/images/algogri.png");
  background-size: contain;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  margin-left: 50px;
}

.heroImg img {
  position: absolute;
  min-width: 140%;
  transform: rotate(-30deg) translateY(-150px);
}

.gridLinesEffect {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(246, 246, 246));
  background-size: cover;
  background-repeat: no-repeat;
  margin: var(--top_gap) 0;
}
@keyframes bounce-right {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px); /* Adjust the distance of the bounce */
  }
}

.animate-bounce-right {
  animation: bounce-right 2s infinite;
}
.xmark:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.info-container {
  position: relative;
  display: inline-block;
}

.info-icon {
  cursor: pointer;
}

.info-message {
  position: absolute;
  top: -30px;
  left: 69%;
  transform: translateX(-50%);
  width: 150px;
  background-color: #1d4ed8;
  color: white;
  padding: 8px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  white-space: pre-wrap;
}

.info-message::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 20%;
  border: 8px solid transparent;
  border-top-color: #1d4ed8;
  transform: translateX(-50%);
}

.hov:hover {
  transform: scale(1.15);
  transition: transform 0.5s ease;
}

/* Define animation keyframes */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(-5px);
  }
}

/* Apply styles to the NavLink container */
.navLinkContainer {
  position: relative;
  display: inline-block;
}

/* Define the animation for bouncing */
.bounceAnimation {
  animation-name: bounce;
  animation-duration: 1s; /* Adjust animation duration as needed */
  animation-iteration-count: 1;
}
.upcomingHintHome
{
  --dist:20px;
  position: fixed;
  bottom: var(--dist);
  right: var(--dist);
  cursor: pointer;
}

.ucInnerContainer
{
  position: relative;
  z-index: 10000000000;
}

.ucInfoShower
{
  --wsize: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 226, 226);
  width: var(--wsize);
  height: var(--wsize);
  border-radius: 50%;
  transition: all 0.25s ease;
  position: relative;
}

.ucInfoShowerHoverModel
{
  position: absolute;
  top: -20px;
  opacity: 0;
  transition: all 0.25s ease;
  transform: translateY(20px);
  
}

.ucInfoShower:hover .ucInfoShowerHoverModel
{
  
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dotPulse
{
  display: inline-block;
  --size:10px;
  width: var(--size);
  height: var(--size);
  background-color: var(--sec_color);
  border-radius: 50%;
  position: relative;
  animation: pulse 2s ease infinite;
}

@keyframes pulse {
   0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

}

.ucModel
{

  position: absolute;
  background-color: rgb(242, 242, 242);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  bottom:120%;
  right: 0% ;
  padding: 0.5rem 1.5rem;
  z-index: 100;
  transition: all 0.25s ease;
  opacity: 0;
}
.ucModelOpen
{
  opacity: 1;
  transition: all 0.25s ease;
}

.ucModelIitem
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.ucLinkTag
{
  background-color: var(--pri_light_tone);
  padding: 0.5rem 1.25rem;
  color: white;
  width: 100%;
  border-radius: 0.25rem;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .heroImg {
    min-width: 47%;
    height: 23vh;
    width: max-content;
    background-image: url("/images/algogri.png");
    background-size: contain;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    margin-left: 38px;
  }
  
  .heroImg img {
    position: absolute;
    min-width: 180%;
    transform: rotate(-30deg) translateY(-150px);
  }
  .homeHeroContainer {
    display: flex;
    align-items: center;
    margin: 0;
    min-height: 0vh;
    margin-top: 80px;
  }
  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    line-height: 1.15;
  }
  
  .counter .paraMedium {
    color: var(--pri_light_tone);
    text-align: center;
  }
  .smallLSize {
    font-size: 1.2rem;
    font-weight: normal;
  }
  .paraMedium {
    font-size: 0.7rem;
    font-weight: normal;
  }  
  .numbersCount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }
  .gapBtwSection {
    padding: 30px 0 0 0;
  }
}