.aboutTopContainer {
  margin-top: 4rem;
}

.aboutHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutHeader .paraLarge {
  min-width: max-content;
}
.aboutHeader .gradOneSidePurpleLine {
  width: 80%;
  margin-left: 1rem;
}
.goalsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 1rem 0 2rem;
  align-content: center;
}

.goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  line-height: 1.1;
}
.goalImg {
  overflow: hidden;
  width: 70%;
  margin: 0.5rem 0 1.5rem;
}
.goal .goalImg img {
  min-width: 110%;
}
.goalInfo .paraMedium {
  font-weight: 600;
  color: var(--pri_light_tone);
}

.goalInfo .smallLSize {
  color: var(--pri_dark_tone);
  font-weight: 600;
  text-transform: uppercase;
}

.aimsfor .paraSmall {
  color: var(--pri_dark_tone);
  text-align: center;
}

.aimsfor .paraSmall span {
  font-weight: bold;
  color: var(--pri_light_tone);
}

.clubMem .guides {
  margin: 5rem 0;
}

.guides .aboutHeader {
  margin: 1rem 0;
}
.imagesInner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.memContainer {
  margin: 1rem 1rem;
  width: 150px;
  /* background-color: aqua; */
}
.imageContainer {
  width: 250px;
  overflow: hidden;
  border-radius: 0.25rem;
}
.imageContainer img {
  /* aspect-ratio: 0.5/0.5; */
  width: 150px;
  height: 200px;
  object-fit: cover;
  pointer-events: none;
}

.personProf {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--pri_dark_tone);
  line-height: 1;
  padding: 0.5rem 0;
}
.personProf .tinySize {
  font-family: var(--primary_font);
  font-weight: 600;
}
.personProf .tinySize:nth-child(2) {
  text-align: right;
}
.batchDet {
  display: flex;
  align-items: center;
}
.personProf .batchDet span {
  --size: 6px;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  background-color: var(--sec_color);
  border-radius: 50%;
  margin: 0 0.5rem;
}

.roleDet span {
  color: var(--sec_color);
}

.joinUsPage {
  margin: 3rem 0 5rem;
}
.action {
  --bradius: 0.85rem;
  color: var(--white_color);
  padding: 2rem 0;
}
.application {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pri_dark_tone);
  padding: 0.95rem 1.5rem;
  border-radius: var(--bradius) var(--bradius) 0 0;
}

.application svg {
  font-size: 1.45rem;
}

.contributeText {
  background-color: var(--pri_dark_tone);
  padding: 2.85rem;
  border-radius: 0 var(--bradius) var(--bradius);
}
.contributeText .paraLarge {
  color: var(--white_color);
  padding: 1rem 0;
}

.actionsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionsDiv button {
  display: flex;
  align-items: center;
  font-size: var(--para_small_size);
  background-color: var(--white_color);
  color: var(--pri_dark_tone);
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  font-family: var(--primary_font);
  border-radius: 0.25rem;
}

.actionsDiv button svg {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 1025px) {
  .aboutTopContainer {
    margin-top: 2rem;
  }
  .aboutHeader .gradOneSidePurpleLine {
    margin-left: 0.5rem;
  }
  .goalsContainer {
    gap: 5px;
  }
  .goalImg {
    margin: 0.5rem 0 1.2rem;
  }
  .clubMem .guides {
    margin: 4rem 0;
  }
  .guides .aboutHeader {
    margin: 0.85rem 0;
  }
  .memContainer {
    --widthSize: 220px;
    margin: 0 0.85rem;
    width: var(--widthSize);
  }
  .imageContainer {
    width: var(--widthSize);
  }
  .personProf .batchDet span {
    --size: 5px;
    margin: 0 0.45rem;
  }

  .action {
    --bradius: 0.75rem;
    padding: 1.85rem 0;
  }
  .application {
    width: 270px;
  }
  .contributeText {
    background-color: var(--pri_dark_tone);
    padding: 2.85rem;
    border-radius: 0 var(--bradius) var(--bradius);
  }
}

@media screen and (max-width: 769px) {
  .aboutTopContainer {
    margin-top: 1rem;
  }

  .aboutHeader .gradOneSidePurpleLine {
    margin-left: 0.5rem;
  }
  .goalsContainer {
    gap: 5px;
  }
  .goalImg {
    margin: 0.5rem 0 1.2rem;
  }

  .memContainer {
    --widthSize: 200px;
    margin: 0 0.45rem;
    width: var(--widthSize);
  }
  .imageContainer {
    width: var(--widthSize);
  }
  .personProf .batchDet span {
    --size: 5px;
    margin: 0 0.45rem;
  }

  .action {
    --bradius: 0.75rem;
    padding: 1.85rem 0;
  }
  .application {
    width: 270px;
  }
  .contributeText {
    background-color: var(--pri_dark_tone);
    padding: 2.85rem;
    border-radius: 0 var(--bradius) var(--bradius);
  }
}

@media screen and (max-width: 426px) {
  .aboutTopContainer {
    margin-top: 3rem;
  }

  .aboutHeader .gradOneSidePurpleLine {
    margin-left: 0.5rem;
  }
  .goalsContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .goalImg {
    margin: 0.5rem 0 1.2rem;
  }

  .memContainer {
    --widthSize: 300px;
    margin: 0 0.45rem;
    width: var(--widthSize);
  }
  .imageContainer {
    width: var(--widthSize);
  }
  .personProf .tinySize {
    font-size: 0.75rem;
  }
  .personProf .batchDet span {
    --size: 6px;
    margin: 0 0.45rem;
  }

  .action {
    --bradius: 0.75rem;
    padding: 1.25rem 0;
  }
  .application {
    width: 100%;
  }
  .contributeText {
    background-color: var(--pri_dark_tone);
    padding: 2.15rem;
    border-radius: 0 0 var(--bradius);
    text-align: center;
  }
  .actionsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  .actionsDiv .paraSmall {
    padding: 1rem 0;
  }
  .actionsDiv button {
    padding: 0.85rem;
    text-align: center;
    justify-content: center;
  }
}
.founder {
  color: var(--pri_dark_tone);
  line-height: 1;
  padding: 0.5rem 0;
  font-family: var(--primary_font);
  font-weight: 600;
  font-size: medium;
}