.tabs {
  display: flex;
}

.tabs a {
  background-color: #012b56c6;
  color: #a5a5a5e5;
  transition: all 0.25s ease;
}

.tab a.active {
  background-color: var(--pri_dark_tone);
  color: var(--white_color);
}

.mvtBodyContainer {
  min-height: 470px;
}

.mvtPoints .paraSmall {
  margin: 1rem 0;
  color: rgb(235, 235, 235);
  font-weight: normal;
}
.mvtPoints li span {
  font-weight: bold;
  color: white;
  padding-left: 1.85rem;
}

.mvtPoints li:hover span {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .mvtPoints .paraSmall {
    margin: 1rem 0;
    color: rgb(235, 235, 235);
    font-weight: normal;
    font-size: 11px;
  }
  .main {
    font-size: 11px;
  }
}
