.navbarContainer {
  position: fixed;
  width: 100vw;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primary_font);
  font-weight: 600;
  color: var(--pri_dark_tone);
  padding: 0.5rem var(--lr_padding);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.logo {
  width: 50px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks li a {
  padding: 0.25rem 1.5rem;
}
